/*公共样式*/
.fl{
	float: left;
}
.fr{
	float: right;
}
.w {
    text-decoration: none;
    width: 1200px;
    cursor: auto;
    filter: auto;
    margin: auto;
}
/*.site-top 网站顶部-star*/
.site-top {
    width: 100%;
    height: 30px;
    line-height: 30px;
    background: #F1F1F1
}

.site-top .w {
    background: #F1F1F1
}

.site-top li {
    float: left;
    height: 30px;
    padding: 0 2px;
}
.site-top-manage{
	padding-top: 2px;
	padding-right: 4px;
	padding-bottom: 2px;
	padding-left: 4px;
	margin-top: 5px;
	display: block;
	height: 14px;
	color: #fff;
	line-height: 14px;
	background-color: #b22d00;
	border-radius: 3px;
}
.site-top-manage:hover{
	color: #fff;
	background: #f93030;
}
.site-top li#ttbar-navs {
    padding: 0 1px 0 2px
}

.site-top li#ttbar-navs.hover,.site-top li#ttbar-navs:hover {
    padding: 0 0 0 1px
}

.site-top li.dorpdown {
    z-index: 13
}

.site-top li.dorpdown:hover {
    padding: 0 1px
}

.site-top li.dorpdown:hover .dt {
    background: #fff;
    border: solid #ddd;
    border-width: 0 1px
}

.site-top li.hover {
    padding: 0 1px
}

.site-top li.hover .dt {
    background: #fff;
    border: solid #ddd;
    border-width: 0 1px
}

.site-top li.spacer {
    width: 1px;
    height: 12px;
    margin-top: 9px;
    padding: 0;
    background: #ddd;
    overflow: hidden
}

.site-top .dt {
    float: left;
    padding: 0 8px
}

.site-top .dd {
    line-height: 24px
}

.site-top .dorpdown-layer {
    top: 30px;
    background: #fff;
    border: 1px solid #ddd;
    *left: 1px
}

.site-top .ci-right {
    top: 12px;
    right: 8px;
    height: 7px;
    overflow: hidden;
    font: 400 15px/15px consolas;
    color: #6A6A6A;
    transition: transform .1s ease-in 0s;
    -webkit-transition: -webkit-transform .1s ease-in 0s
}

.site-top .ci-right s {
    position: relative;
    top: -7px;
    text-decoration: none
}

.site-top li:hover .ci-right {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg)
}

.site-top .dd-spacer {
    position: absolute;
    top: -7px;
    height: 10px;
    background: #fff;
    overflow: hidden
}

.site-top .style-red {
    color: #C81623
}

.site-top #ttbar-login {
    margin-right: 10px
}

.site-top #ttbar-login .link-login {
    font-family: "verdana,ç€¹å¬©ç¶‹"
}


.site-top .dt,.site-top .dt {
    width: 49px;
    padding-right: 25px
}

.site-top .dd,.site-top .dd {
    width: 82px;
    padding-bottom: 8px
}

.site-top #ttbar-atte .item,.site-top #ttbar-serv .item {
    padding-left: 15px
}

.site-top #ttbar-atte .dd-spacer,.site-top #ttbar-serv .dd-spacer {
    left: 0;
    width: 82px
}
.site-top .dorpdown-item li{
	height: 30px;
	padding: 0 9px;
}
.site-top #ttbar-navs .dt {
    width: 49px;
    padding-right: 25px
}

.site-top #ttbar-navs dl {
    float: left;
    width: 201px;
    padding-left: 20px;
    border-left: 1px solid #ddd
}

.site-top #ttbar-navs dl.fore1 {
    border-left: none;
    width: 301px
}

.site-top #ttbar-navs dt {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 6px
}

.site-top #ttbar-navs .item {
    float: left;
    width: 100px
}

.site-top #ttbar-navs .dd-spacer {
    right: 0;
    width: 82px
}

.site-top .hover .dorpdown-layer {
    -webkit-transition: all 600ms cubic-bezier(0.23,1,.32,1)
}
/*.site-top 网站顶部-end*/