
.goods-p-box,.site-crumbs-bar{
	background-color: #fafafa;
}
.goods-p-box .w,.site-crumbs-bar.w {
	background-color: #fff;	
}
.goods-p-box .w {
	position: relative;
	min-height: 454px;
	_height: 480px;
	margin-bottom: 10px;
	border-bottom: 1px solid #eee;
}
/*.goods-p-picture start*/
.goods-p-picture {background: #fff;/* height: 100%; */position: absolute;top: 16px;left: 16px;}
.goods-p-picture .box {margin:0px auto;}
.goods-p-picture .tb-pic a { display:table-cell; text-align:center; vertical-align:middle; }
.goods-p-picture .tb-pic a img {vertical-align:middle; }
.goods-p-picture .tb-pic.tb-s40 img{width:100%;}
.goods-p-picture .tb-pic a {*display:block;*font-family:Arial;*line-height:1;}
.goods-p-picture .tb-thumb {margin:10px 0 0; overflow:hidden; }
.goods-p-picture .tb-thumb li {background:none repeat scroll 0 0 transparent; float:left; height:62px; margin:0 6px 0 0; overflow:hidden; padding:1px; }
.goods-p-picture .tb-s310, .tb-s310 a {height: 350px;width: 350px;}

.goods-p-picture .tb-s310 a { *font-size:271px;}
.goods-p-picture .tb-s40 a { *font-size:35px;}
.goods-p-picture .tb-s40, .tb-s40 a { height:60px; width:60px; }
.goods-p-picture .tb-booth {border:1px solid #CDCDCD;position:relative;z-index:1;}
.goods-p-picture .tb-thumb .tb-selected { background:none repeat scroll 0 0 #C30008; height:62px;}
.goods-p-picture .tb-thumb .tb-selected div { background-color:#FFFFFF; border:medium none; }
.goods-p-picture .tb-thumb li div { border:1px solid #CDCDCD; }
div.zoomDiv { z-index:999; position:absolute; top:0px; left:0px; width:400px; height:400px; background:#ffffff; border:1px solid #CCCCCC; display:none; text-align:center; overflow:hidden; }
div.zoomMask { position:absolute; background:url(../images/goods/mask.png)repeat scroll 0 0 transparent; cursor:move; z-index:1; }
/*.goods-p-picture end*/

/* .goods-p-introduces start*/
.goods-p-introduces {position: relative;top: 15px;left: 382px;/* margin: 15px; */width: 567px;/* height: 100%; */}
.goods-p-introduces .name { padding-bottom: 10px; border-bottom: dotted 1px #CCC;}
.goods-p-introduces .name h1, 
.goods-p-introduces .name strong { font: 700 16px/1.2em "Microsoft Yahei"; text-overflow: ellipsis; white-space: nowrap; display: block; overflow: hidden;} { font: 700 16px/1.5em "Microsoft Yahei"; text-overflow: ellipsis; white-space: nowrap; display: block; overflow: hidden;}
.goods-p-introduces .name strong { color: #D93600;}

.goods-p-introduces .meta { width: 560px;}
.goods-p-key { width: 560px; border-top: solid 1px #EEE; padding-top: 6px; margin-top: 4px;}
.goods-p-introduces .meta dl, .goods-p-key dl { font-size: 0; *word-spacing:-1px/*IE6ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â£ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â7*/;}
.goods-p-introduces .meta dl dt, .goods-p-introduces .meta dl dd,
.goods-p-key dl dt, .goods-p-key dl dd { font-size: 12px; line-height: 20px; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/* IE6,7 */; min-height: 20px; padding: 4px 0; *zoom:1;}
.goods-p-introduces .meta dl dt, .goods-p-key dl dt { font-family: simsun; text-align: right; width: 13%; margin-right: 1%;}
.goods-p-introduces .meta dl dd, .goods-p-key dl dd { text-align: left; width: 86%; *width: 85%/*IE7*/;}
.goods-p-introduces .meta dl dd i.ver-line { display: inline-block; *display: inline; zoom: 1;}
.goods-p-introduces .meta dl dd a { color: #005AA0; vertical-align: top; display: inline-block; *display: inline/*IE7*/; *zoom: 1;}
.goods-p-introduces .meta dl dd a:hover { text-decoration: underline;}
.goods-p-introduces .meta .price strong  { font-size: 20px; font-weight:600; color: #D93600; vertical-align: middle;}
.goods-p-introduces .meta .price span { line-height: 14px; color: #FFF; background-color: #D93600; vertical-align: middle; height: 14px; padding: 1px 3px; *padding: 2px 3px 0 3px; margin-right: 8px;}
.goods-p-introduces .meta .price em { color: #999; vertical-align: middle; margin-left: 8px;}
.goods-p-introduces .meta .cost-price strong  { text-decoration: line-through;}
.goods-p-introduces .meta .promotion-info { color: #D93600}
.goods-p-introduces .meta .promotion-info em { color: #690; vertical-align: middle; margint: 2px 0 12px 0;}
.goods-p-introduces .meta .promotion-info span { color: #999; vertical-align: middle;}

.goods-p-key ul { font-size: 0; *word-spacing:-1px/*IE6ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â£ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â7*/;}
.goods-p-key ul li { vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block;  margin-right: 10px; position: relative; z-index: 1;}
.goods-p-key ul li { *display: inline/*IE6,7*/; *zoom:1;}
.goods-p-key ul li a { display: block; min-height: 30px; padding: 1px; border: 1px solid #E7E7E7; cursor: pointer;}
.goods-p-key ul li.sp-img a { line-height: 0; background-color: #FFF; text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 50px; height: 50px; overflow: hidden;}
.goods-p-key ul li.sp-img a img { max-width: 50px; max-height: 50px; margin-top:expression(50-this.height/2); *margin-top:expression(25-this.height/2);}
.goods-p-key ul li.sp-txt a { font-size: 12px; line-height: 30px; color: #000; text-decoration: none; background: #FFF none; text-align: center; white-space: nowrap; min-width: 20px; height: 30px; padding: 0 5px !important; margin: 1px;}
.goods-p-key ul li.sp-img a:hover, 
.goods-p-key ul li.sp-img a.hovered { border: 2px solid #D93600; padding: 0;}
.goods-p-key ul li.sp-txt a:hover, 
.goods-p-key ul li.sp-txt a.hovered { border: 2px solid #D93600; margin: 0;}
.goods-p-key ul li a i { display: none;}
.goods-p-key ul li a.hovered i { font-size: 0; line-height: 0; background: url(../images/goods/public_img.png) no-repeat 0 0; display: block; width: 11px; height: 11px; position: absolute; z-index: 1; right: 2px; bottom: 2px;}

.goods-p-input-number { position: relative; z-index: 1;}
.goods-p-input-number a { font: 11px/12px sans-serif, serif, Arial; color: #AAA; background-color: #FFF; text-align: center; display: block; width: 16px; height: 12px; border: solid 1px #CCC; position: absolute; z-index: 1; left: 42px; -webkit-text-size-adjust:none;}
.goods-p-input-number a:hover { color: #D93600; border-color: #D93600; text-decoration: none;}
.goods-p-input-number a.increase { top: 4px;}
.goods-p-input-number a.decrease { top: 20px;}
.goods-p-input-number em { margin-left: 30px; color:#999;}
.goods-p-input-number em strong { font-weight: 600; color: #555; vertical-align: top; margin: 0 4px;}
.goods-p-input-number input {
	width: 30px;
	font: 12px/20px Tahoma;
    color: #777;
    background-color: #FFF;
    vertical-align: top;
    display: inline-block;
    height: 20px;
    padding: 4px;
    border: solid 1px #CCC;
    outline: 0 none;
}

.goods-p-introduces .xu-btn {display: inline-block;height: 32px;padding-right: 10px;margin: 10px 0 0 0;position: relative;/* z-index: 70; */}
.goods-p-introduces .xu-btn { *display: inline/*IE6,7*/; zoom: 1;}
.goods-p-introduces .xu-btn a.buynow,
.goods-p-introduces .xu-btn a.addcart,
.goods-p-introduces .xu-btn a.no-buynow,
.goods-p-introduces .xu-btn a.no-addcart { font: lighter 16px/20px "Microsoft Yahei"; color: #FFF; text-align: center; display: inline-block; height: 20px; padding: 6px 18px; margin-right: 10px; border-radius: 3px; position: relative; overflow: hidden; box-shadow: 0 0 0 2px rgba(204,204,204,0.25);}
.goods-p-introduces .xu-btn a.buynow:hover,
.goods-p-introduces .xu-btn a.addcart:hover,
.goods-p-introduces .xu-btn a.no-buynow:hover,
.goods-p-introduces .xu-btn a.no-addcart:hover  { text-decoration: none;}
.goods-p-introduces .xu-btn a.buynow { background-color: #BA7538;}
.goods-p-introduces .xu-btn a:hover.buynow { background-color: #96602E;}
.goods-p-introduces .xu-btn a.addcart { background-color: #D93600;}
.goods-p-introduces .xu-btn a:hover.addcart { background-color: #BB0000;}
.goods-p-introduces .xu-btn a.no-buynow, 
.goods-p-introduces .xu-btn a.no-addcart { background-color: #666; cursor: not-allowed;}
.goods-p-introduces .xu-btn a:hover.no-buynow, 
.goods-p-introduces .xu-btn a:hover.no-addcart { background-color: #333;}
.goods-p-introduces .xu-btn a i { font-size: 17px; margin-right: 6px;}
/* .goods-p-introduces end*/

/*.goods-p-shop-info start*/
.goods-p-shop-info { width: 210px;position: absolute; z-index: 1; top: 16px; right: 16px;}
.goods-p-shop-info .title { background-color: #F5F5F5; padding: 5px 10px; border: solid 1px #E6E6E6;}
.goods-p-shop-info .title h4 { font: 600 14px/20px "Microsoft Yahei"; color: #555;}
.goods-p-shop-info .content { border: solid #E6E6E6; border-width: 0 1px 1px;}
.goods-p-shop-info .content dl { font-size: 0; *word-spacing:-1px/*IE6ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â£ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â7*/; display: block; border-bottom: solid 1px #E6E6E6; padding: 6px 0;}
.goods-p-shop-info .content dl dt { font-size: 12px; color: #666; vertical-align: top; letter-spacing: normal; word-spacing: normal; text-align: right; display: inline-block; *display: inline/*IE7*/; width: 68px; *zoom:1;}
.goods-p-shop-info .content dl dd { font-size: 12px; color: #333; vertical-align: top; letter-spacing: normal; word-spacing: normal; white-space: nowrap; text-overflow: ellipsis; display: inline-block; *display: inline/*IE7*/; width: 130px; *width: 125px; overflow: hidden; zoom: 1;}
.goods-p-shop-info .all-rate .rating { background: url(../images/goods/grate.png) no-repeat 0 -18px ; vertical-align: middle; display: inline-block; *display: inline/*IE7*/; width: 79px; height: 17px; *zoom:1;}
.goods-p-shop-info .all-rate .rating span { background: url(../images/goods/grate.png) no-repeat 100% 0; display: block; height: 18px;}
.goods-p-shop-info .all-rate em { color: #DA542E; font-weight: 600; vertical-align: middle; margin-right: 2px;}
.goods-p-shop-info .content .detail-rate { clear: both;}
.goods-p-shop-info .store-name { font-weight: 600; color: #555; height: 20px; padding: 6px 9px; border-bottom: solid 1px #E6E6E6;}
.goods-p-shop-info .detail-rate { color: #999; width: 182px; padding: 5px; margin: 0 auto; border-bottom: dotted 1px #E6E6E6;}
.goods-p-shop-info .detail-rate h5 { color: #777; margin-bottom: 4px;}
.goods-p-shop-info .detail-rate h5 strong { font-weight: 700; margin-right: 30px;}
.goods-p-shop-info .detail-rate li { padding: 2px 0;}
.goods-p-shop-info .detail-rate .credit { color: #555; display: inline-block; width: 35px; margin-left: 4px;}
.goods-p-shop-info .detail-rate .high { color: #DA542E; display: inline-block;}
.goods-p-shop-info .detail-rate .high i { background: url(../images/goods/grate.png) no-repeat 0 -40px; vertical-align: middle; display: inline-block; width: 9px; height: 8px; margin-right: 4px;}
.goods-p-shop-info .detail-rate .high em { color: #FFF; background-color: #DA542E; text-align: center; display: inline-block; width: 40px; margin-left: 2px;}
.goods-p-shop-info .detail-rate .equal { color: #DA542E; display: inline-block;}
.goods-p-shop-info .detail-rate .equal i { background: url(../images/goods/grate.png) no-repeat -18px -40px; vertical-align: middle; display: inline-block; width: 9px; height: 8px; margin-right: 4px;}
.goods-p-shop-info .detail-rate .equal em { color: #FFF; background-color: #DA542E; text-align: center; display: inline-block; width: 40px; margin-left: 2px;}
.goods-p-shop-info .detail-rate .low { color: #28B779; display: inline-block;}
.goods-p-shop-info .detail-rate .low i { background: url(../images/goods/grate.png) no-repeat -9px -40px; vertical-align: middle; display: inline-block; width: 9px; height: 8px; margin-right: 4px;}
.goods-p-shop-info .detail-rate .low em { color: #FFF; background-color: #28B779; text-align: center; display: inline-block; width: 40px; margin-left: 2px;}
.goods-p-shop-info .goto { text-align: center; padding: 10px 0;}
.goods-p-shop-info .goto a { color: #005EA6; margin: 0 10px;}
.goods-p-shop-info .goto a em { color: #999; font-weight: 600; margin-left: 2px; vertical-align: middle;}
.goods-p-shop-info .goto a:hover em { text-decoration: none !important;}
.goods-p-shop-info .no-border { border: 0!important; padding-bottom: 0!important;}
/*.goods-p-shop-info end*/


/*.goods-p-package start*/
.goods-p-package .goods-title-nav {
    position: relative;
}
.goods-p-package .goods-title-nav a.more {
    position: absolute;
    right: 12px;
    top: 7px;
}
.goods-p-package .content {
    background-color: #FFF;
    border: solid #DDD;
    border-width: 0 1px 1px;
    margin-bottom: 10px;
}
.goods-p-package .content .p-box {
    float: left;
    width: 964px;
    height: 231px;
    overflow-y: auto;
    overflow-x: hidden;
    border-right: 1px solid #ccc;
}
.goods-p-package .p-list {
    margin-top: 20px;
    margin-left: 10px;
}

.goods-p-package .p-list .item {
    float: left;
    display: block;
    padding: 0 5px;
    width: 134px;
    height: 190px;
    margin-bottom: 5px;
    margin-right: 5px;
    position: relative;
    list-style: none;
    overflow: hidden;
}
.goods-p-package .p-list .item.plus {
    width: 23px;
    /* margin: 5px; */
}
.goods-p-package .p-list i.plus {
    margin-top: 50px;
}
.goods-p-package .p-list .item .p-img {
    margin-bottom: 5px;
}
.goods-p-package .p-list .item .p-img img {
    width: 134px;
    height: 134px;
}
.goods-p-package .p-list .item .p-name {
    height: 36px;
    overflow: hidden;
}
.goods-p-package .content .equal-box {
    float: left;
    width: 23px;
    height: 23px;
    margin-left: 10px;
    position: relative;
}
.goods-p-package .content .equal-box i.equal{
    position: absolute;
    top: 71px;
}
i.equal {
    display: block;
    width: 23px;
    height: 23px;
    overflow: hidden;
    background: url(../images/goods/equal.png) no-repeat;
}
i.plus {
    display: block;
    width: 23px;
    height: 23px;
    overflow: hidden;
    background: url(../images/goods/plus.png) no-repeat;
}
.goods-p-package .content .infos {
    float: right;
    width: 175px;
    margin-top: 20px;
    margin-right: 10px;
}
.goods-p-package .content .infos .xx-btn {
    margin-top: 5px;
}
/*.goods-p-package end*/


/*.goods-p-main start*/
.goods-p-main {
    float: right;
    width: 980px;
    _position: relative/*IE6*/;
}

.goods-title-nav { margin-top: 7px;}
.goods-title-nav ul { font-size: 0; *word-spacing:-1px/*IE6ÃƒÂ£Ã¢â€šÂ¬Ã‚Â7*/; background-color: #FCFCFC; border: solid #D7D7D7 1px;}
.goods-title-nav ul li { vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block;}
.goods-title-nav ul li { *display: inline/*IE6,7*/;}
.goods-title-nav ul li a { font: normal 14px/20px "Microsoft Yahei"; text-decoration:none; color:#777; background-color: #F5F5F5; display: block; padding: 6px 15px 5px 15px; border-style: solid; border-color: #D7D7D7; border-width: 0 1px 0 0;}
.goods-title-nav ul li.current { margin: -7px 0 -1px -1px;}
.goods-title-nav ul li.current a { color: #333; background-color: #FFF; padding: 11px 15px 6px 15px; border-style: solid; border-color: #D93600 #DDD transparent #DDD; border-width: 2px 1px 0 1px ;}

.goods-info-content { padding-bottom: 23px;}
.goods-info-content .top { padding: 9px; margin-bottom: 20px; border: solid #D7D7D7; border-width: 0 1px 1px;}


.goods-p-main .goods-sort { *word-spacing:-1px/*IE6ÃƒÂ£Ã¢â€šÂ¬Ã‚Â7*/; background-color: #FFF; border: solid #DDD; border-width: 0 1px 1px; padding:10px 0; margin-bottom: 10px;}
.goods-p-main .goods-sort li { font-size: 12px; line-height: 20px; letter-spacing: normal; word-spacing: normal; text-overflow : ellipsis; white-space: nowrap; display: inline-block; width: 23%; padding: 0 0 0 2%; margin: 0; overflow: hidden;}
.goods-p-main .goods-sort li { *display: inline; }



.goods-title-bar { background-color: #FCFCFC; border-style: solid; border-color: #D93600 #D7D7D7 #F5F5F5 #D7D7D7; border-width: 2px 1px 1px 1px; }
.goods-title-bar h4 { font: normal 14px/20px "Microsoft Yahei"; text-decoration:none; color:#777; display: block; padding: 6px 15px 5px 15px;}
.goods-commend-main { padding: 20px 0 0 0; border: solid #D7D7D7; border-width: 0 1px 1px;}


.goods-p-comment .rate { line-height: 20px; color: #D93600; vertical-align: middle; display: inline-block; *display: inline; *zoom:1; margin: 10px 40px 10px 20px;}
.goods-p-comment .rate strong { font: lighter 40px/40px arial; vertical-align: bottom;}
.goods-p-comment .rate sub { font: 16px/20px arial; vertical-align: bottom; margin-right: 6px;}
.goods-p-comment .rate span { color: #999; display: block; clear: both;}
.goods-p-comment .percent { vertical-align: middle; display: inline-block; *display: inline; *zoom:1;}
.goods-p-comment .percent dl { font-size: 0; *word-spacing:-1px/*IE6ÃƒÂ£Ã¢â€šÂ¬Ã‚Â7*/;}
.goods-p-comment .percent dt { font-size: 12px; line-height: 20px; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; width: 80px; height: 20px;}
.goods-p-comment .percent dt { *display: inline/*IE6,7*/;}
.goods-p-comment .percent dt em { color: #999; margin-left: 4px;}
.goods-p-comment .percent dd { background-color: #F5F5F5; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; width: 100px; height: 14px; margin: 3px 0;}
.goods-p-comment .percent dd { *display: inline/*IE6,7*/;}
.goods-p-comment .percent dd i { background-color: #D93600; display: block; height: 14px;}
.goods-p-comment .btns { vertical-align: middle; display: inline-block; *display: inline; *zoom:1; height: 60px; padding-left: 30px; margin-left: 400px; border-left: dotted 1px #E6E6E6;}


.goods-p-recommend { clear:both;}
.goods-p-recommend .title { background-color: #FFF; height: 20px; padding: 5px 10px; border-bottom: solid 2px #D93600;}
.goods-p-recommend .title h4 { font: 14px/20px "Microsoft Yahei"; color: #333; margin-left: 6px;}
.goods-p-recommend .content { overflow: hidden; }
.goods-p-recommend .content ul { font-size: 0; *word-spacing:-1px/*IE6ÃƒÂ£Ã¢â€šÂ¬Ã‚Â7*/; white-space: nowrap; padding: 10px 0 5px 0; margin-left: -5px;}
.goods-p-recommend .content ul li { font-size: 12px; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; width: 20%; padding: 10px 0 5px 0;  border-left: dotted 1px #E6E6E6; *zoom:1;}
.goods-p-recommend .content ul li dl { text-align: center; width: 100%; padding-top:120px; margin:0px auto; position:relative; z-index:1;}
.goods-p-recommend .content ul li .goods-pic { background:#FFF; width:120px; height:120px; margin-left: -60px; position:absolute; top: 0px; left: 50%; }
.goods-p-recommend .content ul li .goods-pic a { background-color: #FFF; text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 120px; height:120px; overflow: hidden;}
.goods-p-recommend .content ul li .goods-pic a img { max-width: 120px; max-height: 120px; margin-top:expression(120-this.height/2); *margin-top:expression(60-this.height/2);}
.goods-p-recommend .content ul li .goods-name { line-height:18px; white-space: pre-wrap; height: 36px; width: 90%; overflow: hidden; margin: 8px auto;}
.goods-p-recommend .content ul li .goods-name em { color: #D93600;}
.goods-p-recommend .content ul li .goods-price { font-weight: 600; color: #D93600; height: 20px;}

.goods-p-norecord {
    color: #999;
    text-align: center;
    height: 70px;
    line-height: 70px;
    padding: 15px 0;
    background-color: #FFF;
    border: none !important;
}



.goods-p-sidebar {
    width: 210px;
    display: block;
    float: left;
    _position: relative/*IE6*/;
}

.goods-p-mod { margin-bottom: 10px;}
.goods-p-mod .title { background-color: #F7F7F7 ; height: 20px; padding: 5px 10px; border: solid #DDD; border-width: 1px 1px 0 1px;}
.goods-p-mod .title h4 { font: 600 14px/20px "Microsoft Yahei"; color: #666;}
.goods-p-mod .content { border: solid 1px #DDD; background:#FFF; }



.goods-p-sidebar .goods-code { width: 150px; height: 150px; margin: 20px auto; border: solid 4px #D7D7D7; position: relative; z-index: 1;}
.goods-p-sidebar .goods-code p { vertical-align: middle; text-align: center; display: table-cell; *display: block; width: 150px; height:150px; padding: 0; overflow: hidden;}
.goods-p-sidebar .goods-code img { max-width: 150px; max-height: 150px; margin-top:expression(150-this.height/2); *margin-top:expression(75-this.height/2);}
.goods-p-sidebar .goods-code-note { background-color: #FFF; text-align: center; display: none; width: 156px; height: 156px; border: solid 1px #D7D7D7; position: absolute; z-index: 1; top: -4px; left:  154px;}
.goods-p-sidebar .goods-code-note i { background: url(../images/goods/public_img.png) no-repeat 0 -70px; display: block; width: 80px; height: 120px; margin: 0 auto; }
.goods-p-sidebar .goods-code:hover span { display: block;}



.goods-p-sidebar .top-tab { height:28px; border-bottom: solid 1px #D7D7D7; }
.goods-p-sidebar .top-tab li { float:left;}
.goods-p-sidebar .top-tab li a { color: #777; line-height: 20px; text-decoration:none; background-color: #F7F7F7; text-align:center; width: 86px; height: 20px; float:left; margin: 4px 0 1px 4px; padding:1px 0; border: solid #D8D8D8; border-width: 1px 1px 0 1px; border-radius: 4px 4px 0 0; text-shadow: 1px 1px 0 rgba(255,255,255,.75);}
.goods-p-sidebar .top-tab li.current a { color:#000; background-color: #FFF; padding: 1px 0 2px 0; margin: 4px 0 0 4px; box-shadow: 0 -1px 1px rgba(0,0,0,.05);}
.goods-p-sidebar .top-bar .hide { display: none;}

.goods-p-sidebar .top-panel {display: block;margin: 0 0 -1px 0;}
.goods-p-sidebar .top-panel li { display: block; padding: 8px 12px 8px 4px; clear: both; margin-top: -1px; border-bottom: dashed 1px #E7E7E7;}
.goods-p-sidebar .top-panel li:hover { background-color: #F7F7F7; z-index: 1;}
.goods-p-sidebar .top-panel dl { display: block; height:50px; position: relative; z-index: 1;}
.goods-p-sidebar .top-panel dl:hover { z-index: 9;}
.goods-p-sidebar .top-panel dt { line-height: 16px; text-overflow: ellipsis ; overflow:hidden; white-space: nowrap; display: block; width: 130px; height: 16px; position: absolute; z-index: 1; top: 0; left: 60px;}
.goods-p-sidebar .top-panel dd.goods-pic { background-color: #FFF; display:block; width: 50px; height: 50px; position:absolute; z-index:999; top:0; left:0; }
.goods-p-sidebar .top-panel dd.goods-pic a { border: solid 1px #E7E7E7; width:40px; height: 40px; padding: 4px; display: inline-block; }
.goods-p-sidebar .top-panel dd.goods-pic p { background-color: #FFF; display:none; width:100px; height: 100px; padding:4px; border: solid 1px #F60; position:absolute; z-index:2; top:-10px; left:58px; box-shadow: 2px 2px 0px rgba(0,0,0,.2);}
.goods-p-sidebar .top-panel dd.goods-pic p big { font-size: 0; line-height: 0; width: 0; height: 0; display: block; border: 4px solid; border-color: transparent #FF6600 transparent transparent; position: absolute; z-index: 2; top: 18px; left: -9px;}
.goods-p-sidebar .top-panel dd.goods-pic p small { font-size: 0; line-height: 0; width: 0; height: 0; display: block; border: 4px solid; border-color: transparent #FFFFFF transparent transparent; position: absolute; z-index: 2; top: 18px; left: -8px;}
.goods-p-sidebar .top-panel dd.goods-pic:hover p { display: block;}
.goods-p-sidebar .top-panel dd.goods-pic:hover a { border-color: #F60;}
.goods-p-sidebar .top-panel dd.price { line-height: 16px; background: url(../images/goods/public.png) no-repeat 0 -80px; text-overflow: ellipsis ; overflow:hidden; white-space: nowrap; padding-left: 10px; width:110px; height: 16px; position: absolute; z-index: 1; top: 18px; left: 60px;} 
.goods-p-sidebar .top-panel dd.selled { line-height: 16px; background: url(../images/goods/public.png) no-repeat 0 -100px; text-overflow: ellipsis ; overflow:hidden; white-space: nowrap; width:100px; height: 16px; padding-left:20px; position: absolute; z-index: 1; top: 36px; left: 60px;}
.goods-p-sidebar .top-panel dd.selled strong { margin: 0 3px;}
.goods-p-sidebar .top-panel dd.collection{ line-height: 16px; background: url(../images/goods/public.png) no-repeat 0 -120px; float:left; text-overflow: ellipsis ; overflow:hidden; white-space: nowrap;  width:100px; height: 16px; padding-left:20px; position: absolute; z-index: 1; top: 36px; left: 60px;}
.goods-p-sidebar .top-panel dd.collection strong { margin: 0 3px;}
